@import "style.css";

a {
  font: 12pt helvetica;
  font-size: 12px;
  font-style: italic;
  color: blue;
}

.date {
  font: 8pt helvetica;
  font-size: 8px;
  font-style: oblique;
  color: darkgray;
}
